body {
  font-family: Arial, sans-serif;
  background-color: #f2eeea;
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  margin: 20px 0;
  color: #333;
}

.section {
  background-color: #abbcf3;
  padding: 20px;
  margin: 20px;
  border-radius: 8px;
}

select, input, button {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
}

select {
  min-width: 200px;
  height: 120px; /* Çoklu seçim için daha yüksek */
}

button {
  background-color: #4c8caf;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #366b87;
}

.product-label {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 16px;
  color: #333;
}

table {
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
  background-color: #fff;
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
}

th {
  background-color: #e0e0e0;
}
